/fotografias/
/audios/
/avatar/
/import/files/reg2.csv
/import/files/bat - Copy.bat
/import/files/1.php
/import/files/regarchivo1.csv
/import/files/regarchivo00.csv
/import/files/regarchivo0.csv
/import/files/reg1.csv
/import/files/regarchivo11.csv
/import/files/pythonC.py